*,
::before,
::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  padding: 30px;
  background: linear-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  height: 100vh;
  font-family: "Barlow Semi Condensed", sans-serif;
  color: hsl(0, 0%, 95%);
  font-size: 16px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border: 4px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  font-weight: 600;
  position: relative;
  z-index: 5;
  opacity: 0;
  transform: translateY(-50px);
  animation: translateYAnim 0.5s ease-out forwards;
}
header h1 {
  line-height: 0.8;
  font-size: 1.125rem;
  font-weight: 700;
}
header .score {
  background-color: hsl(0, 0%, 95%);
  border-radius: 5px;
  padding: 10px 25px;
  text-align: center;
}
header .score h2 {
  color: hsl(229, 64%, 46%);
  font-size: 1rem;
}
header .score p {
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  font-size: 2.5rem;
}

@keyframes translateYAnim {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
main {
  flex-grow: 1;
}

.game {
  display: block;
  position: relative;
  height: 200px;
  width: 250px;
  margin: 70px auto 100px;
  background-image: url(../images/bg-pentagon.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0;
  transform: translateY(-30px);
  animation: translateYAnim 0.5s 0.3s ease-out forwards;
}
.game .item {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100px;
  height: 100px;
  cursor: pointer;
}
.game .item.scissors {
  background: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
  box-shadow: inset 0 -5px #bc7e0b;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
}
.game .item.spock {
  background: linear-gradient(hsl(189, 58%, 57%), hsl(189, 59%, 53%));
  box-shadow: inset 0 -5px #2d9bae;
  top: 35%;
  left: 10%;
  transform: translate(-50%, -50%);
}
.game .item.paper {
  background: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  box-shadow: inset 0 -5px #183df1;
  top: 35%;
  left: 90%;
  transform: translate(-50%, -50%);
}
.game .item.lizard {
  background: linear-gradient(hsl(261, 72%, 63%), hsl(261, 73%, 60%));
  box-shadow: inset 0 -5px #6423dc;
  top: 95%;
  left: 20%;
  transform: translate(-50%, -50%);
}
.game .item.rock {
  background: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  box-shadow: inset 0 -5px #b81f3b;
  top: 95%;
  left: 80%;
  transform: translate(-50%, -50%);
}
.game .item .circle {
  border: none;
  background-color: hsl(0, 0%, 95%);
  box-shadow: inset 0 5px #d3d7df;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  cursor: pointer;
}
.game .item .circle img {
  width: 35px;
}

.game.hide {
  display: none;
}

.results {
  margin-top: 30px;
  display: grid;
  grid-template-areas: "player computer" "playAgain playAgain";
}
.results .results-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transform: scale(0);
}
.results .results-area.player-area {
  animation: scaleAnim 0.3s ease-in-out forwards;
}
.results .results-area.computer-area {
  animation: scaleAnim 0.3s 0.5s ease-in-out forwards;
}
.results .results-area .item {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 130px;
  margin-bottom: 15px;
  position: relative;
}
.results .results-area .item.scissors {
  background: linear-gradient(hsl(40, 84%, 53%), hsl(39, 89%, 49%));
  box-shadow: inset 0 -5px #bc7e0b;
}
.results .results-area .item.spock {
  background: linear-gradient(hsl(189, 58%, 57%), hsl(189, 59%, 53%));
  box-shadow: inset 0 -5px #2d9bae;
}
.results .results-area .item.paper {
  background: linear-gradient(hsl(230, 89%, 65%), hsl(230, 89%, 62%));
  box-shadow: inset 0 -5px #183df1;
}
.results .results-area .item.lizard {
  background: linear-gradient(hsl(261, 72%, 63%), hsl(261, 73%, 60%));
  box-shadow: inset 0 -5px #6423dc;
}
.results .results-area .item.rock {
  background: linear-gradient(hsl(349, 70%, 56%), hsl(349, 71%, 52%));
  box-shadow: inset 0 -5px #b81f3b;
}
.results .results-area .item.winner::after {
  content: "";
  width: 200%;
  height: 200%;
  border-radius: 50%;
  position: absolute;
  z-index: -5;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(#2b3858 0%, #2b3858 45%, #253252 46%, #253252 57%, #1f294a 58%, #1f294a 100%);
}
.results .results-area .item .circle {
  border: none;
  background-color: hsl(0, 0%, 95%);
  box-shadow: inset 0 5px #d3d7df;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
}
.results .results-area .item .circle img {
  width: 50px;
}
.results .play-again-container {
  grid-area: playAgain;
  margin-top: 20px;
  z-index: 5;
}
.results .play-again-container .result-txt {
  font-size: 3rem;
  letter-spacing: 1.3px;
  text-align: center;
}
.results .play-again-container .play-again-btn {
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  opacity: 0;
  transform: scale(0);
  display: block;
  margin: 0 auto;
  background-color: hsl(0, 0%, 95%);
  border: 2px solid hsl(0, 0%, 95%);
  padding: 10px;
  width: 80%;
  color: hsl(229, 25%, 31%);
  font-weight: 600;
  margin-top: 15px;
  animation: scaleAnim 0.3s 1.1s ease-out forwards;
}
.results .play-again-container .play-again-btn:hover {
  border: 2px solid hsl(0, 0%, 95%);
  background-color: transparent;
  color: hsl(0, 0%, 95%);
}

.results.hide {
  display: none;
}

.rules {
  display: flex;
  justify-content: center;
  margin: 40px 0 15px;
}
.rules .rules-btn {
  border-radius: 10px;
  text-transform: uppercase;
  letter-spacing: 1.5px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-size: 1.25rem;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  opacity: 0;
  transform: scale(0);
  background-color: transparent;
  border: 2px solid hsl(0, 0%, 95%);
  padding: 10px 30px;
  color: hsl(0, 0%, 95%);
  animation: scaleAnim 0.3s 0.8s ease-out forwards;
}
.rules .rules-btn:hover {
  background-color: hsl(0, 0%, 95%);
  color: hsl(237, 49%, 15%);
}

@keyframes scaleAnim {
  to {
    opacity: 1;
    transform: scale(1);
  }
}
.rules-img-container {
  opacity: 0;
  transform: scale(0);
  animation: scaleAnim 0.3s ease-out forwards;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  inset: 0;
  z-index: 5;
  background-color: hsl(0, 0%, 95%);
}
.rules-img-container .rules-img-content {
  display: flex;
  flex-direction: column;
}
.rules-img-container .rules-img-content h2 {
  color: hsl(229, 25%, 31%);
  text-align: center;
  font-size: 1.875rem;
  margin-bottom: 50px;
}
.rules-img-container .rules-img-content .rules-img {
  width: 250px;
  margin-bottom: 80px;
}
.rules-img-container .rules-img-content .rules-img-close-btn {
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  display: block;
  margin: 0 auto;
  font-size: 2.5rem;
  color: hsl(217, 16%, 45%);
  cursor: pointer;
}

.rules-img-container.hide {
  display: none;
}

.attribution {
  font-size: 11px;
  text-align: center;
  color: hsl(217, 16%, 45%);
  opacity: 0;
  animation: opacityAnim 0.3s 0.8s ease-out forwards;
  text-transform: capitalize;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@keyframes opacityAnim {
  to {
    opacity: 1;
  }
}
@media screen and (min-width: 375px) {
  .game .item.spock {
    left: 0;
  }
  .game .item.paper {
    left: 100%;
  }
  .results .results-area p {
    letter-spacing: 1.3px;
  }
  .rules-img-container {
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transform: scale(1);
    animation: none;
  }
  .rules-img-container .rules-img-content {
    opacity: 0;
    transform: scale(0);
    animation: scaleAnim 0.3s ease-out forwards;
    background-color: hsl(0, 0%, 95%);
    border-radius: 20px;
    padding: 30px 30px 60px;
    display: grid;
    grid-template-areas: "title closeBtn" "img img" "img img";
  }
  .rules-img-container .rules-img-content h2 {
    text-align: start;
  }
  .rules-img-container .rules-img-content .rules-img {
    width: 300px;
    grid-area: img;
  }
  .rules-img-container .rules-img-content .rules-img-close-btn {
    margin-right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (min-width: 1066px) {
  header {
    margin: 0 300px;
  }
  main {
    position: relative;
  }
  .game {
    height: 250px;
  }
  .results {
    margin: 50px 100px;
    grid-template-areas: "player playAgain computer";
    align-items: center;
  }
  .results .results-area .item {
    margin-top: 30px;
    width: 200px;
    height: 200px;
  }
  .results .results-area .item.winner::after {
    width: 250%;
    height: 250%;
  }
  .results .results-area .item .circle {
    width: 155px;
    height: 155px;
  }
  .results .results-area .item .circle img {
    width: 70px;
  }
  .results .play-again-container .play-again-btn {
    width: 60%;
  }
  .rules {
    position: absolute;
    right: 0;
  }
}/*# sourceMappingURL=style.css.map */